%header.tape.flex
  .chapter.flex Page 12
  .chaptername YCombinator Application
%main.leaf.flex
  .inner.justify
    %strong How long is your runway?
    %p 4 months

    %strong If you've applied previously with the same idea, how much progress have you made since the last time you applied? Anything change?
    %p Yes, we applied with the same idea for YC Summer 2018. We have made a considerable progress on finding product-market fit since. The most radical change has been our adoption of a social strategy around books. 

    %p Readers want to talk about what they have read with their friends. They often share insights, annotations or recommend the title itself to their friends. We introduced a few simple features to let them do that on major social networks and it resulted in an N! magnification in referrals and word of mouth. 

    %p We are now calling ourselves 'a social book reader for web'!  :-)
