%header.tape.flex
  .chaptername.right Bubblin Superbooks
  .chapter.flex.right Page 17

%main.leaf.flex
  .inner.justify

    %p 
      The site is still live at: 
      %a{href: "https://bookiza.io"} https://bookiza.io


    %strong 
      Please tell us something surprising or amusing that one of you has discovered.
      (The answer need not be related to your project.)

    %p Physical books are not files. Files belong to bureaucracy. Books belong to children (or the child within us). Books are about creativity, about counter-culture and overthrowing rotten ideals of our society. Files are about encoding those rotten ideals and forcing them on us. 

    %p So why should an e-book book be a file at all? 

    %p 
      Food for thought: Do files masquerading as e-book pass the Occam's Razor? 
      Is the reader of the future expected to understand words like file, format, device, disk, compatibility or OS? 


    %strong What convinced you to apply to Y Combinator?

    %p We loved attending the YC Startup School. A rigorous program with a great peer group to live with locally at one place sounds a lot more exciting.
 

    %strong How did you hear about Y Combinator?

    %p Hacker News.
