%header.tape.flex
  .chaptername.right Bubblin Superbooks
  .chapter.flex.right Page 11
%main.leaf.flex
  .inner.justify
    %strong How many active users or customers do you have? If you have some particularly valuable customers, who are they?
    %p
      We get between 5,000-10,000 uniques per week of which about 1% sticks. 30% of that traffic is young teenagers or kids on their iPads—which is a particularly valuable group. 
    %p 7% of our readers come from India, 18% from Europe and 62%  are from the US. On the supply side we have about 800 writers signed up, of which 2% are actively working on a book. We also have some famous writers like Michael J. Sullivan on-board!

    %strong Do you have revenue?
    %p No.

    %strong What is your monthly growth rate?
    %p We're growing at 41.7% growth rate MoM and expect to cross half a million unique readers by end of December this year. 



