%header.tape.flex
  .chaptername.right Bubblin Superbooks
  .chapter.flex.right Page 15
%main.leaf.flex
  .inner.justify
    %p We're super careful about pitching against Kindle but our readers swear by the experience we bring to the table. A great community will help us differentiate in the long run. We don’t fear our competition too much because we are relying on ideals of free and open source software that have stood the test of time.

    %strong How will you get users? If your idea is the type that faces a chicken-and-egg problem in the sense that it won't be attractive to users till it has a lot of users (e.g. a marketplace, a dating site, an ad network), how will you overcome that?

    %p SEO and social urges are primary drivers of our traffic. One of the advantages of hosting a full book on site is that we can extract SEO juice from the “inner pages” of the book. This capability is not available to any other publisher because they'd have to link to a file outside of web. 

    %p Second, social urges. Readers love talking about the book that they have read or a passage that they liked. We tap into these individual urges to reach further into their network of friends. Organic search and social drive 70% of our reader traffic. 

