%header.tape.flex
  .chapter.flex Page 10
  .chaptername YCombinator Application
%main.leaf.flex
  .inner.justify
    %p
      At this point our core metrics look like so:

    %ol
      %li Total number of hearts/likes on books:  1077
      %li Total number of pages turned (flip-count):  2235673
      %li Total time spent on all books: 3112 hours
      %li Total number of writers signed up for trial: 866
      %li Total number of books created: 665 

    %p Our Alexa ranking is hovering near 157K [1]. 

    %p 
      %a{href: "https://www.alexa.com/siteinfo/bubblin.io"} [1] https://www.alexa.com/siteinfo/bubblin.io


    %strong How long have each of you been working on this? Have you been part-time or full-time? Please explain.

    %p Marvin has been full-time on it for over two and half years. Sonica has joined full-time since July of 2018.

    %strong Which of the following best describes your progress?
    
    %p Public beta.
