%header.tape.flex
  .chaptername.right Bubblin Superbooks
  .chapter.flex.right Page 5

%main.leaf.flex
  .inner.justify
    %h1 Important Dates:
    %table
      %tr
        %td
          %strong Application Deadline: 
        %td
          October 2
          %sup nd 
      %tr
        %td{colspan: 2}
          %em (Only 24 hours remain!)
    %hr
    %table
      %tr
        %td
          %strong Invitation: 
        %td
          October, 23
          %sup rd
      %tr
        %td
          %strong Duration: 
        %td 
          January–March, 2019


