%header.tape.flex
  .chapter.flex Page 6
  .chaptername YCombinator Application


%main.leaf.flex
  .inner.justify
    %h1 Important Links:
    %ol
      %li
        %a{href: "https://blog.ycombinator.com/frequently-asked-questions-from-yc-applicants/", rel: "nofollow"} Frequently Asked Questions From YC Applicants
      %li
        %a{href: "https://blog.ycombinator.com/common-misconceptions-about-applying-to-yc/", rel: "nofollow"} Common Misconceptions About Applying To YC
      %li
        %a{href: "http://blog.samaltman.com/applying-to-yc", rel: "nofollow"} Applying to YC
      %li
        %a{href: "https://www.ycombinator.com/howtoapply/", rel: "nofollow"} How to Apply to Y Combinator
      %li
        %a{href: "https://blog.ycombinator.com/yc-application-advice-from-african-startups/", rel: "nofollow"} YC Application Advice from African Startups
      %li
        %a{href: "https://blog.ycombinator.com/early-decision/", rel: "nofollow"} Early Decision for College and Grad Students
      %li
        %a{href: "https://www.ycombinator.com/video/", rel: "nofollow"} The Application Video
      %li
        %a{href: "https://www.startupschool.org/videos/45", rel: "nofollow"} How to Apply and Succeed at Y Combinator






