%header.tape.flex
  .chaptername.right Bubblin Superbooks
  .chapter.flex.right Page 13
%main.leaf.flex
  .inner.justify

    %strong If you have already participated or committed to participate in an incubator, "accelerator" or "pre-accelerator" program, please tell us about it.

    %p We have not participated or committed to any other program.


    %strong Why did you pick this idea to work on? Do you have domain expertise in this area? How do you know people need what you're making?

    %p Why this idea?—Marvin was using an early version of Bubblin for his own books. Freedom of digital books from proprietary formats and closed hardware is the main reason why we are at it. 

    %p Domain expertise?—Marvin is the creator of the Superbook Standard Format (SSF) and wrote its specification from scratch.  

    %p /---

    %p How do you know people need this?—Metrics. Flipcount and total_time_spent per book are a strong indicator of the need. Flipcount is the number of times a reader turns a page over. It is a also a great indicator of how well a book is performing. 

    %p Writers use flipcount to track success of their book.
