%header.tape.flex
  .chapter.flex Page 14
  .chaptername YCombinator Application
%main.leaf.flex
  .inner.justify
    %strong What's new about what you're making? What substitutes do people resort to because it doesn't exist yet (or they don't know about it)?
    %p What's new—We liberate digital books from hardware. The idea is to have books come alive on web without using proprietary formats or vendor lock-ins. A reader need not own a piece of hardware (like Kindle) to enjoy reading digital books. Meaning freedom, flexibility and share-ability etc for books. 

    %p What substitutes exist?—Developers use books published on web more than anything else. The mass market reads on the dead tree while the progressive ones are on Kindle that is now over a decade old. 

    %p Kids are on the iPad, and that's where we are putting all our focus on. 


    %strong Who are your competitors, and who might become competitors? Who do you fear most?

    %p We have some very big players in our space like The Penguin Random House, Simon & Schuster, HarperCollins etcetera. If we were to start selling books tomorrow then the Kindle Cloud Reader would be our closest comparison. In general we're the same old idea slapped with a slick UI and distribution built in. 


