%header.tape.flex
  .chapter.flex Page 8
  .chaptername YCombinator Application
%main.leaf.flex
  .inner.justify
    %strong Which category best applies to your company?
    %p Consumer.

    %strong Is this application in response to a YC RFS?
    %p No.

    %strong If yes, which one?
    %p N/A

    %strong Where do you live now, and where would the company be based after YC? 
    %p Washington DC / San Francisco


    %strong Email address we should contact you at:
    %p marvin@bubblin.io

    %strong Phone number(s):
    %p (415) woof woof!

    %strong Please enter the url of a 1 minute unlisted (not private) YouTube video introducing the founders.

    %p \-- TBR -- 



