%header.tape.flex
  .chaptername.right Bubblin Superbooks
  .chapter.flex.right Page 9
%main.leaf.flex
  .inner.justify
    %strong Please tell us about an interesting project, preferably outside of class or work, that two or more of you created together. Include urls if possible.

    %p We built an evening school for guitar enthusiasts in New Delhi. It was fun place for people to hang out after school or office, take a lesson or two on playing guitar. Over 800 students learned to play guitar at our academy during a period of four years. Changing laws and policy led us to eventually shut it down before moving to the United States.

    %strong How long have the founders known one another and how did you meet? Have any of the founders not met in person?

    %p 13+ years. We met on Orkut in 2005 and married in 2009.


    %strong How far along are you?
    %p We have launched a couple of times. The original beta went live in December of 2017 and then we re-launched twice later on. Over 150k readers engaged on site last month of which about 3% completed reading at least one book per week. 

