%header.tape.flex
  .chaptername.right Bubblin Superbooks
  .chapter.flex.right Page 7
%main.leaf.flex
  .inner.justify
    %h1 Application
    %strong Company name:
    %p Bubblin Superbooks 
    %strong Company url, if any:
    %p
      %a{ href: "https://bubblin.io" } https://bubblin.io 

    %strong If you have a demo, what's the url? For non-software, demo can be a video. (Please don't password protect it; just use an obscure url.)
    %p 
      %a{ href: "https://bubblin.io/book/bookiza-documentation-by-marvin-danig/1" } https://bubblin.io/book/bookiza-documentation-by-marvin-danig/1  

    %strong Describe your company in 50 characters or less.

    %p We help people read more books.

    %strong What is your company going to make? 

    %p We're building a website where people love to come to read books. And share books with friends freely. Readers can connect with each other, offer insights, discuss and be a part of a well-read, calm and level-headed community. 

